table,td,tr{
    border: 0.5px solid silver;
    border-collapse: collapse;
    padding-left: 60px;
    height:50%;
    margin: auto;
}
.div1{
    text-align: center;
}
td,tr{
    text-align: center;
}
